<h1>Paste your NetScaler Config File Below</h1>
<form id="config" method="POST" action="/config">
</form>

<textarea id="conf" form="config" rows=30>Enter NS Config here...</textarea>
<input type="submit" form="config" value="Submit">

<h1>Below is your parsed NetScaler file in CSV Format</h1>
<div>
	<p id="Results">
	</p>
</div>